* {
    margin: 0;
}
/* genaral start */
.clearfix::after {
    display: block;
    content: "";
    clear: both;
}
.content {
    position: relative;
    width: 60%;
    left: 20%;
}
.col-3 {
    width: 33.3%;
}
/* genaral end */

/* header start */

.header {
    width: 100vw;
    height: 40px;
    background-color: rgb(255, 170, 0);
}
.header_text {
    display: inline-block;
    color: black;
    padding-left: 20px;
}
.header_nav {
    float: right;
    padding: 5px 20px;
    font-size: 25px;
}
.header_nav a {
    text-decoration: none;
    margin-right: 10px;
}

/* header end */

/* main start */
.main {
}
.main_image-1 {
    position: relative;
    width: 100vw;
    height: calc(100vh - 40px);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/img-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.main_image-1_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: wheat;
    font-weight: 900;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 20px;
    border-radius: 5px;
}
.main_blog {
    width: 100%;
    padding: 20px 0px 20px 0px;
    background: linear-gradient(to top left, rgba(255, 123, 0, 0.5), rgba(255, 213, 0, 0.5));
}
.main_blog_header {
    display: block;
    text-align: center;
}
.main_blog_text {
    width: 100%;
    display: flex;
}
.main_blog_col-3 {
    width: 33.3%;
    padding: 10px 5px;
}
.main_blog_col-3 a {
    display: block;
    text-align: center;
} 
.blog2 {
    width: 100vw;
    background: linear-gradient(rgba(0, 162, 255, 0.5), rgba(181, 228, 255, 0.5));
}
.blog2 img {
    width: 30%;
    float: left;
    padding-right: 5px;
}
.blog2 h2, .blog2 p {
    padding: 10px 5px;
}
.plans {
    padding-top: 20px;
    padding-bottom: 20px;
}
.plans_ {
    display: flex;
}
.plans h2 {
    text-align: center;
}
.plan {
    padding: 10px 50px;
    text-align: center;
}
.plan a {
    text-decoration: none;
    color: rgb(0, 12, 105);
}
.plan a:hover {
    color: rgb(53, 0, 31);
    transition: .5s;
}
.plan_ {
    width: 100%;
    background: linear-gradient(rgba(255, 170, 0, 0.5), rgba(255, 179, 27, 0.5));
    padding: 5px 10px;
    border-radius: 5px;
}
.plan_:hover {
    background-color: rgb(255, 170, 0);
    transition: .5s;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.plan ul {
    padding: 10px;
}
.plan li {
    list-style-type: none;
    text-align: center;
}
/* main end */

